:root {
  --white: #fff;
  --gray: #a5a5a5;
  --black: #000;
  --text: #000;
}
* {
  box-sizing: border-box;
  &::before, &::after {
    box-sizing: border-box;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  color: var(--text);
  background: var(--white);
  text-rendering: optimizeLegibility;
}

h1, h2, h3 {
  font-family: 'EB Garamond', serif;
  color: var(--black);
  line-height: 1.1;
}

h2, h3 {
  color: var(--black);
  font-weight: 400;
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 0;
}

h2 {
  font-size: 2.2rem;
  margin: 0 0 2rem;
}

h3 {
  font-size: 1.8rem;
  margin: 0 0 2rem;
}

p {
  margin: 0 0 1.5rem;
  &:nth-child(4) {
    margin: 0;
  }
  &.copyright {
    margin: 1.5rem 0;
  }


a {
  color: var(--gray);
  text-decoration: none;
  &:hover {
    color: var(--black);
  }
}

.container {
  margin: auto;
  padding: 0 1rem;
  max-width: 75rem;
  width: 100%;
}

.main {
  padding: 2rem 0;
}

.grid > [class*="column-"] {
  padding: 1rem;
}

.section-heading {
  transform: rotate(0) translateX(0);
}

/* Navigation Styles */
nav {
  position: relative;
  padding: 1.5rem 0;
  ul {
    display: flex;
    justify-content: flex-start;
    li {
      font-size: 0.875rem;
      font-weight: 700;
      letter-spacing: 0.125rem;
      text-transform: uppercase;
      margin: 0 1.5rem 0 0;
      &:nth-child(3) {
        margin: 0;
      }
    }
  }
}

nav .grid > [class*="column-"] {
  padding: 0.25rem 1rem;
}

#logo {
  color: var(--black);
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  margin: 0;
}

/* Footer Styles */
footer {
  text-align: center;
}
@media (min-width: 768px) {
  body {
    font-size: 1.125rem;
  }

  nav {
    padding: 2rem 0;
    ul {
      justify-content: flex-end;
    }
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2rem;
  }
}
main.about {
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

img {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
